<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/standard.css"/>
    <link rel="stylesheet" href="../assets/css/custom.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 


    <title>Fetch Project</title>
    <script src="../assets/js/fetch.js"></script>
    <script src="../assets/js/cart.js"></script>
    <script   src="../assets/js/toast.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar_custom customDark">
        <div class="container">
        <div class="row">
            <div class="col-2">Logo</div>
            <ul class="col-10 d-flex justify-content-end">
                <a href="./home.html" class="navItem"><li class="px-3 ">Ana Sayfa</li></a>
                <a href="./cart.html"  class="navItem"><li class="px-3 ">Sepetim</li></a>
                
                
            </ul>
        </div>

        </div>

    </nav>


    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    

                <div class="row">
                    <div class="col-12 border" id="productsInCart">
                        


                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <b>
                        Toplam Fiyat : <span class="totalPrice">0</span>
                        </b>
                    </div>
                </div>







                </div>
            </div>


        </div>


    </div>
</body>

<script src="../assets/js/script.js"></script>


<script>

    $(document).ready(function(){
        getData.then(result=>{

            products.set(result.PRODUCTS)
            renderProducts()

        })
    })

    






</script>






</html>